@font-face {
  font-family: "Technology";
  src: url("./fonts/Technology/Technology.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E4E4E4;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#calc-body {
  display: flex;
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 5% 0px;
  border: 8px solid #1f2937;
  border-radius: 8px;
  background-color: #c1c2bf;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#display-screen {
  font-family: "Technology", sans-serif;
  box-sizing: border-box;
  font-size: 72px;
  text-align: right;
  padding-right: 10px;
  width: 100%;
  margin: 5% 0% 0% 0%;
  border: 3px solid #000000;
  background: linear-gradient(to bottom, #C2CBB5 0%, #575855 100%);
  color: #2B3324;
  box-shadow: inset 0px 4px 4px #00000064;
}

#calc-buttons {
  background-color: grey;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#top-buttons {
    display: flex;
    gap: 8px;
    width: 100%;
}

#top-buttons button {
    flex: 1;
    height: 70px;
}

#main-buttons {
    display: flex;
    gap: 8px;
    width: 100%;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    gap: 8px;
}

#numbers button {
    flex: 1 0 calc((100% - 16px) / 3);
    height: 70px;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

#operators button {
    height: 70px;
}

button {
    box-sizing: border-box;
    font-size: 36px;
    border: none;
    background-color: #6b6b6b;
    color: #2B3324;
    padding: 0;
    box-shadow: 0px 3.2px 0px #2c2e2b;
}

.btn-ac,
.btn-backspace,
.btn-sign {
    background-color: #d97706;
    box-shadow: 0px 3.2px 0px #834804;
}

.btn-op,
.btn-decimal, .btn-percent {
    background-color: #3b82f6;
    box-shadow: 0px 3.2px 0px #17315c;
}

.btn-equals {
    background-color: #22c55e;
    box-shadow: 0px 3.2px 0px #0e5027;
}